---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&device_id=2b6f0cc904d137be2e1730235f5664094b83&hashkey=1dac9a1c743450e0b7d778558585b161c7f66d0e&ip=109.235.143.113&locale=de&offer_types=112&page=1&ps_time=1433461210&pub0=&timestamp=1433461210&uid=player1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"code":"NO_CONTENT","message":"Successful request, but no offers are
        currently available for this user.","count":0,"pages":0,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://offer.fyber.com/mobile/support?appid=157&client=api&uid=player1"},"offers":[]}'
  recorded_at: Sat, 06 Jun 2015 03:14:48 GMT
recorded_with: VCR 2.9.3
