---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&device_id=2b6f0cc904d137be2e1730235f5664094b83&hashkey=ffaeca307302bb9d409e34626aa8667c662f9afe&ip=109.235.143.113&locale=de&offer_types=112&page=1&ps_time=1433461210&pub0=this-is-a-test&timestamp=1433461210&uid=player1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - dfdf77407988a43df88c0f7b5f3bd12b0a7a56c5
      X-Sponsorpay-Response-Code:
      - NO_CONTENT
    body:
      encoding: ASCII-8BIT
      string: '{"code":"NO_CONTENT","message":"Successful request, but no offers are
        currently available for this user.","count":0,"pages":0,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://offer.fyber.com/mobile/support?appid=157&client=api&uid=player1"},"offers":[]}'
  recorded_at: Fri, 05 Jun 2015 14:23:21 GMT
recorded_with: VCR 2.9.3
